<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
  <body>
    {{{body}}}
  </body>
</html>
